---
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import { Champion, getChampion, getChampions } from "@services/riot";
import { parseToArray } from "@utils/object";
import { getLoadingURL } from "@utils/riot";

export async function getStaticPaths() {
  const dataOfChampions = await getChampions()
  const champions = parseToArray(dataOfChampions)
  const championFullData = await Promise.all(champions.map((champion) => getChampion(champion.id)))
  const pages = championFullData.map((champion) => ({
    name: champion.id,
    champion,
  }))
  return pages.map(({ name, champion }) => {
    return {
      params: { name },
      props: { champion },
    };
  });
}

interface Props {
  champion: Champion
}

const { champion } = Astro.props;
---
<Layout title={champion.name}>
  <Main>
    <div class="flex p-5"> 
      <img src={getLoadingURL(champion.id)} alt={champion.name} class="brightness-75" width="308" height="560" />
      <div class="flex flex-col ml-5">
        <h2 class="text-2xl font-bold">{champion.name}, {champion.title}</h2>
        <p class="mt-10">
          {champion.lore}
        </p>
      </div>
    </div>
  </Main>
</Layout>