---
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import { Champion, getChampion, getChampions } from "@services/riot";
import { parseToArray } from "@utils/object";
import { getLoadingURL, getPassiveURL, getSpellURL, removeDoubleBR } from "@utils/riot";

export async function getStaticPaths() {
  const dataOfChampions = await getChampions()
  const champions = parseToArray(dataOfChampions)
  const championFullData = await Promise.all(champions.map((champion) => getChampion(champion.id)))
  const pages = championFullData.map((champion) => ({
    name: champion.id,
    champion,
  }))
  return pages.map(({ name, champion }) => {
    return {
      params: { name },
      props: { champion },
    };
  });
}

interface Props {
  champion: Champion
}

const { champion } = Astro.props;
---
<Layout title={champion.name}>
  <Main>
    <div class="flex grid-cols-2 p-5"> 
      <div style="width: 308px; height: 560px" class="bg-slate-900 text-transparent mr-5">
        <img class="max-w-none" src={getLoadingURL(champion.id)} alt={champion.name} class="brightness-75" />
      </div>
      <div class="flex flex-col">
        <h2 class="text-2xl font-bold">{champion.name}, {champion.title}</h2>
        <p class="mt-10">
          {champion.lore}
        </p>
        <ul class="mt-5 flex justify-between flex-col flex-grow">
          <li class="flex mb-4">
            <div class="w-16 h-16">
              <img class="max-w-none" src={getPassiveURL(champion.passive.image.full)} alt={champion.passive.name} />
            </div>
            <div class="ml-5 flex flex-col flex-start">
              <h3 class="font-bold">{champion.passive.name}</h3>
              <p set:html={removeDoubleBR(champion.passive.description)} />
            </div>
          </li>
          {
            champion.spells.map((spell) => (
              <li class="flex mb-4">
                <div class="w-16 h-16">
                  <img class="max-w-none" src={getSpellURL(spell.image.full)} alt={spell.name} />
                </div>
                <div class="ml-5 flex flex-col flex-start">
                  <h3 class="font-bold text-sm">{spell.name}</h3>
                  <p set:html={removeDoubleBR(spell.description)} />
                </div>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </Main>
</Layout>